<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" layout="column" ng-show="loaded">
	<md-button class="md-raised autonlease-raised" ng-click="goStyleEditor('add')">Add</md-button>
	<md-list>
		<md-card ng-repeat="style in styles">
			<md-list-item class="md-2-line" ng-click="">
				<img src="images/makes/{{makeId}}.png" alt="{{makeId}}" class="md-avatar">
				<div class="md-list-item-text">
					<h3>{{style.model.name | translate}}</h3>
					<p>{{style.name}}</p>
				</div>
				<md-icon class="md-secondary" md-svg-icon="editor:mode_edit" ng-click="goStyleEditor(style.$id)" aria-label="Edit"></md-icon>
			</md-list-item>
		</md-card>
	</md-list>
</div>