<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" ng-show="loaded">
	<md-card>
		<md-card-header>
			<md-card-avatar>
				<img src="images/makes/{{style.make.niceName}}.png" alt="{{style.make.niceName}}">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">{{style.make.name | translate}}</span>
				<span class="md-subhead">{{style.model.name | translate}}</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content layout="column">
			<md-input-container>
				<label>Name</label>
				<input type="text" ng-model="style.name">
			</md-input-container>
			<md-input-container>
				<label>Year</label>
				<input type="number" ng-model="style.year">
			</md-input-container>
			<md-input-container>
				<label>List Price</label>
				<input type="number" ng-model="style.pricing.list">
			</md-input-container>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="cancel()" aria-label="Cancel">Cancel</md-button>
			<md-button ng-click="remove()" aria-label="Remove">Remove</md-button>
			<md-button class="md-primary" ng-click="edit()" aria-label="Edit">Edit</md-button>
		</md-card-actions>
	</md-card>
</div>