<div class="main-column-width">
	<md-card class="autonlease-required-docs-card">
		<md-card-header>
			<md-card-avatar>
				<md-icon md-svg-icon="social:person"></md-icon>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">개인 (사업자)</span>
				<span class="md-subhead">구비 서류</span>
			</md-card-header-text>
		</md-card-header>
		<md-divider></md-divider>
		<md-list>
			<md-list-item>
				<p>사업자 등록증 사본</p>
			</md-list-item>
			<md-list-item>
				<p>인감 증명서</p>
			</md-list-item>
			<md-list-item>
				<p>주민 등록 등본</p>
			</md-list-item>
			<md-list-item>
				<p>재산세 과세 증명원</p>
			</md-list-item>
			<md-list-item>
				<p>부가세 과세 표준 증명원</p>
			</md-list-item>
			<md-list-item>
				<p>자동 이체용 통장 사본</p>
			</md-list-item>
			<md-list-item>
				<p>운전면허증 사본</p>
			</md-list-item>
		</md-list>
		<!-- <md-card-content> -->
			<!-- <p>사업자 등록증 사본<br>인감 증명서 1통<br>주민 등록 등본 1통<br>재산세 과세 증명원<br>부가세 납부 증명원<br>자동이체용 통장 사본<br>신분증 사본</p> -->
		<!-- </md-card-content> -->
	</md-card>

	<md-card class="autonlease-required-docs-card">
		<md-card-header>
			<md-card-avatar>
				<md-icon md-svg-icon="social:domain"></md-icon>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">법인</span>
				<span class="md-subhead">구비 서류</span>
			</md-card-header-text>
		</md-card-header>
		<md-divider></md-divider>
		<!-- <md-card-content> -->
			<md-list>
				<md-list-item>
					<p>사업자 등록증 사본</p>
				</md-list-item>
				<md-list-item>
					<p>법인 인감 증명서</p>
				</md-list-item>
				<md-list-item>
					<p>법인 등기부 등본</p>
				</md-list-item>
				<md-list-item>
					<p>재무제표</p>
				</md-list-item>
				<md-list-item>
					<p>자동 이체용 통장 사본</p>
				</md-list-item>
				<md-list-item>
					<p>부가세 과세 표준 증명원</p>
				</md-list-item>
				<md-list-item>
					<p>대표이사 인감 증명서</p>
				</md-list-item>
				<md-list-item>
					<p>대표이사 주민 등록 등본</p>
				</md-list-item>
				<md-list-item>
					<p>대표이사 재산세 과세 증명원</p>
				</md-list-item>
				<md-list-item>
					<p>대표이사 신분증 사본</p>
				</md-list-item>
			</md-list>
			<!-- <p>사업자 등록증 사본<br>법인 인감 증명서 1통<br>법인 등기부 등본 1통<br>재무제표<br>자동이체용 통장 사본</p>
			<p>대표이사 인감 증명서 1통<br>대표이사 주민 등록 등본 1통<br>대표이사 재산세 과세 증명원<br>대표이사 신분증 사본</p> -->
		<!-- </md-card-content> -->
	</md-card>

	<md-card class="autonlease-required-docs-card">
		<md-card-header>
			<md-card-avatar>
				<md-icon md-svg-icon="social:group"></md-icon>
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">연대 보증인</span>
				<span class="md-subhead">구비 서류</span>
			</md-card-header-text>
		</md-card-header>
		<md-divider></md-divider>
		<md-list>
			<md-list-item>
				<p>인감 증명서</p>
			</md-list-item>
			<md-list-item>
				<p>주민 등록 등본</p>
			</md-list-item>
			<md-list-item>
				<p>재산세 과세 증명원</p>
			</md-list-item>
			<md-list-item>
				<p>신분증 사본</p>
			</md-list-item>
		</md-list>
		<!-- <md-card-content> -->
			<!-- <p>인감 증명서 1통<br>주민 등록 등본 1통<br>재산세 과세 증명원<br>신분증 사본</p> -->
		<!-- </md-card-content> -->
	</md-card>
</div>