<!-- Page header -->
<div class="autonlease-page-header">
  <div class="autonlease-page-header-width">
    <h2 layout-padding>1661-4882</h2>
    <p class="autonlease-page-description" layout-padding>전문 상담원이 자동차 금융과 관련한 상담을 도와드립니다.</p>
  </div>
</div>

<!-- Main column -->
<div class="main-column-width">
  <!-- Lease card -->
  <md-card>
    <img class="md-card-image" src="images/red-car.png" alt="" hide-gt-xs>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline md-primary">자동차 리스</span>
        <span class="md-subhead autonlease-card-description" hide-xs>
          고객이 희망하는 차량을 리스 회사가 대신 구입하여 고객에게 일정 기간 사용권을 부여하고 고객은 그 대가로 정해진 리스료를 지불하는 자동차 금융 상품입니다. 
        </span>
      </md-card-title-text>
      <md-card-title-media hide-xs>
        <div class="md-media-lg">
          <img src="images/red-car.png" alt="">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content hide-gt-xs>
      <p>고객이 희망하는 차량을 리스 회사가 대신 구입하여 고객에게 일정 기간 사용권을 부여하고 고객은 그 대가로 정해진 리스료를 지불하는 자동차 금융 상품입니다.</p>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="autonlease-card-action-button" ng-href="#/lease/intro">상품 소개</md-button>
      <md-button class="autonlease-card-action-button" ng-href="#/required-docs">구비 서류</md-button>
      <md-button class="autonlease-card-action-button md-raised md-primary" ng-href="#/lease/pricing/makes">표준 리스료</md-button>
    </md-card-actions>
  </md-card>

  <!-- Rental card -->
  <md-card>
    <img class="md-card-image" src="images/yellow-car.png" alt="" hide-gt-xs>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline md-primary">장기 렌터카</span>
        <span class="md-subhead autonlease-card-description" hide-xs>
          고객이 희망하는 차량을 직접 구매하지 않고 필요한 기간(1~4년) 만큼 대여하는 차량 운용 방법으로, 렌트 회사가 정비, 수리, 사고 처리 및 보험 등 차량 관리를 해드립니다.
        </span>
      </md-card-title-text>
      <md-card-title-media hide-xs>
        <div class="md-media-lg">
          <img src="images/yellow-car.png" alt="">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content hide-gt-xs>
      <p>고객이 희망하는 차량을 직접 구매하지 않고 필요한 기간(1~4년) 만큼 대여하는 차량 운용 방법으로, 렌트 회사가 정비, 수리, 사고 처리 및 보험 등 차량 관리를 해드립니다.</p>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="autonlease-card-action-button" ng-href="#/rental/intro">상품 소개</md-button>
      <md-button class="autonlease-card-action-button" ng-href="#/required-docs">구비 서류</md-button>
      <md-button class="autonlease-card-action-button md-raised md-primary" ng-href="#/rental/pricing/makes">표준 렌트료</md-button>
    </md-card-actions>
  </md-card>

  <md-card class="autonlease-info-card autonlease-info-tip-primary">
    <md-card-content>
      <div class="autonlease-info-tip-card" layout="row" layout-align="start center">
        <md-icon class="autonlease-card-icon" md-svg-icon="content:send"></md-icon>
        <div flex>
          <h2 class="autonlease-card-header">견적 신청</h2>
          희망하는 차량을 선택하여 견적을 신청할 수 있습니다.
        </div>
      </div>
      <md-button class="autonlease-info-action autonlease-card-action-button" ng-href="#/quotation/makes">견적 신청하기</md-button>
    </md-card-content>
  </md-card>

  <md-card class="autonlease-info-card autonlease-info-tip-accent">
    <md-card-content>
      <div class="autonlease-info-tip-card" layout="row" layout-align="start center">
        <md-icon class="autonlease-card-circle-icon" md-svg-icon="communication:chat"></md-icon>
        <div flex>
          <h2 class="autonlease-card-header">빠른 상담 신청</h2>
          상담하고 싶은 내용을 작성해 주시면 전문 상담원이 확인 후 연락을 드립니다.
        </div>
      </div>
      <div layout="row">
        <md-input-container class="autonlease-card-input autonlease-card-input-top md-accent md-block" md-no-float flex>
          <label>이름</label>
          <input type="text" ng-model="quote.applicant.name">
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container class="autonlease-card-input md-accent md-block" md-no-float flex>
          <label>연락처</label>
          <input type="text" ng-model="quote.applicant.phone">
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container class="autonlease-card-input md-accent md-block" md-no-float flex>
          <label>내용</label>
          <input type="text" ng-model="quote.notes">
        </md-input-container>
      </div>
      <md-button class="autonlease-info-action autonlease-card-action-button" ng-click="request(quote)">상담 신청하기</md-button>
    </md-card-content>
  </md-card>
  
  <md-card class="autonlease-info-card">
    <md-card-content>
      <div class="autonlease-info-tip-card" layout="row" layout-align="start center">
        <md-icon class="autonlease-card-icon" md-svg-icon="action:info"></md-icon>
        <div flex layout="column" layout-align="center start">
          <span class="md-body-1">상호: (주)오토앤리스(Auto & Lease Co., Ltd.)</span>
          <span class="md-body-1">대표자: 서홍복</span>
          <span class="md-body-1">사업자등록번호: 299-87-00106</span>
          <span class="md-body-1">통신판매번호: 제 2015-부산동래-0177호</span>
          <span class="md-body-1">주소: 부산광역시 동래구 사직동 여고로 93 2층</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="autonlease-info-card">
    <md-card-content>
      <div class="autonlease-info-tip-card" layout="row" layout-align="start center">
        <md-icon class="autonlease-card-icon" md-svg-icon="action:copyright"></md-icon>
        <div flex layout="column" layout-align="center start">
          <span class="autonlease-copyright">Auto & Lease Co., Ltd. All Rights Reserved.</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>