<div class="main-column-width">
	<md-card class="autonlease-info-card autonlease-info-desc" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="autonlease-card-inverticon" md-svg-icon="hardware:security"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">개인정보 보호 정책</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>(주)오토앤리스(Auto&Lease Co., Ltd)는 고객님의 개인정보를 보호하며, 개인정보보호법 및 정보통신망 이용촉진 및 정보보호 등에 관한 법률을 준수하고 있습니다.</p>
			</md-card-content>
		</div>
	</md-card>

	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<!-- <md-icon class="fa autonlease-card-icon" md-font-icon="fa-lightbulb-o"></md-icon> -->
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">개인정보의 수집 및 이용 목적</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>견적 신청에 대한 상담 및 견적 제시<br>
					-. 상기 목적 외의 용도로 이용자 개인정보를 외부에 제공하거나 활용하지 않습니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<!-- <md-icon class="fa autonlease-card-icon" md-font-icon="fa-list"></md-icon> -->
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">수집하는 개인정보 항목</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>필수 항목: 성명, 전화번호, 생년월일, 회사명, 사업자등록번호, 지역<br>
					선택 항목: 팩스번호, 이메일, 업종, 업력 또는 근무(속)기간</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<!-- <md-icon class="fa autonlease-card-icon" md-font-icon="fa-calendar"></md-icon> -->
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">개인정보의 보유 및 이용기간</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>개인정보의 수집 및 이용 목적이 달성된 후에는 해당 정보를 즉시 파기합니다.<br>
					-. 최대 보유기간: 수집 후 3개월(수집 후 3개월 이후에는 무조건 파기)</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<!-- <md-icon class="fa autonlease-card-icon" md-font-icon="fa-exclamation-triangle"></md-icon> -->
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">동의 거부권 및 서비스 제한</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>개인정보 수집 이용에 관한 동의를 거부할 권리가 있으나, 동의 거부시 견적 상담이 불가합니다.<br>
					(단, 필수 항목만 입력하고 동의하여도 상담은 가능합니다.)</p>
			</md-card-content>
		</div>
	</md-card>
</div>