<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" ng-show="loaded">
	<md-list>
		<md-card class="autonlease-info-card autonlease-info-tip-primary">
	    <md-card-content>
	      <div class="autonlease-info-tip-card" layout="row" layout-align="start center">
	        <md-icon class="autonlease-card-icon" md-svg-icon="action:info"></md-icon>
	        <div flex>
	          <h2 class="autonlease-card-header">이 달의 판매 조건</h2>
	          아래 제조사를 클릭하시면 자세히 볼 수 있습니다.
	        </div>
	      </div>
	    </md-card-content>
	  </md-card>
	</md-list>

	<md-list>
		<md-card ng-if="promo.isDomestic" ng-repeat="promo in promos">
			<md-list-item ng-click="open(promo.url)">
				<img src="images/makes/{{promo.$id}}.png" alt="{{promo.$id}}" class="md-avatar">
				<p>{{promo.name | translate}}</p>
				<md-icon md-svg-icon="action:launch"></md-icon>
			</md-list-item>
		</md-card>
	</md-list>

	<md-list>
		<md-card ng-if="!promo.isDomestic" ng-repeat="promo in promos">
			<md-list-item ng-click="open(promo.url)">
				<img src="images/makes/{{promo.$id}}.png" alt="{{promo.$id}}" class="md-avatar">
				<p>{{promo.name | translate}}</p>
				<md-icon md-svg-icon="action:launch"></md-icon>
			</md-list-item>
		</md-card>
	</md-list>
</div>