<div class="main-column-width">
	<md-card>
		<img src="images/login-card-background.png" alt="Login">
		<div class="md-actions" layout="column" layout-align="start">
			<md-button class="md-primary" flex ng-click="oauthLogin('google')">Login</md-button>
		</div>
	</md-card>
</div>