<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" ng-show="loaded">
  <!-- <md-card class="autonlease-accent-card">
    <md-list-item>
      <md-icon md-svg-icon="content:add"></md-icon>
      <p>추가하기</p>
    </md-list-item>
  </md-card> -->

  <md-list>
    <md-card ng-click="showQuote(quote.$id)" ng-if="quote.applicant.name.length > 0 && quote.ongoing" ng-repeat="quote in quotes | orderBy:'-created'">
      <md-list-item>
        <md-icon class="autonlease-applicant-type-icon" ng-if="quote.applicant.type === 'Incorporation'" md-svg-icon="social:domain"></md-icon>
        <md-icon class="autonlease-applicant-type-icon" ng-if="quote.applicant.type === 'Individual' || quote.applicant.type === 'Individual Business' || !quote.applicant.type" md-svg-icon="social:person"></md-icon>
        <div layout="row" flex>
          <p>{{quote.applicant.name}}</p>
          <span flex></span>
          <p ng-show="quote.vehicle.model.name">{{quote.vehicle.model.name | translate}}</p>
        </div>
      </md-list-item>
    </md-card>
  </md-list>

  <md-card>
    <md-list-item>
      <md-icon class="md-primary" md-svg-icon="action:done"></md-icon>
      <p>완료된 상담 {{done}}건</p>
    </md-list-item>
  </md-card>
</div>
