<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" ng-show="loaded">
	<md-card ng-if="quote.vehicle">
		<md-list>
			<md-list-item class="md-2-line">
				<img class="md-avatar" src="images/makes/{{quote.vehicle.make.niceName}}.png" alt="{{quote.vehicle.make.niceName}}">
				<div class="md-list-item-text">
					<h3>{{quote.vehicle.model.name | translate}}</h3>
					<p>{{quote.vehicle.trim}}</p>
				</div>
			</md-list-item>
		</md-list>
	</md-card>

	<md-card ng-if="quote.financialProduct">
		<md-list>
			<md-list-item>
				<md-icon md-svg-icon="action:receipt"></md-icon>
				<p>{{quote.financialProduct | translate}}</p>
			</md-list-item>
		</md-list>
	</md-card>

	<md-card>
		<md-list>
			<md-list-item>
				<md-icon md-svg-icon="social:person"></md-icon>
				<p>{{quote.applicant.name}}</p>
			</md-list-item>
			<md-list-item ng-if="quote.applicant.phone">
				<md-icon md-svg-icon="communication:phone"></md-icon>
				<p>{{quote.applicant.phone}}</p>
			</md-list-item>
			<md-list-item ng-if="quote.applicant.email">
				<md-icon md-svg-icon="communication:email"></md-icon>
				<p>{{quote.applicant.email}}</p>
			</md-list-item>
			<md-list-item ng-if="quote.applicant.notes">
				<md-icon md-svg-icon="action:description"></md-icon>
				<p>{{quote.applicant.notes}}</p>
			</md-list-item>
		</md-list>
	</md-card>
</div>