<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width">
	<md-list>
		<md-card ng-repeat="model in models">
			<md-list-item ng-click="goStyles(model.niceName)">
				<img src="images/makes/{{makeId}}.png" alt="{{makeId}}" class="md-avatar">
				<p>{{model.name | translate}}</p>
			</md-list-item>
		</md-card>
	</md-list>
</div>