<div class="main-column-width">
	<md-card>
		<md-card-header>
			<md-card-avatar>
				<img src="images/makes/{{style.make.niceName}}.png" alt="{{style.make.niceName}}">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">{{style.model.name | translate}}</span>
				<span class="md-subhead">{{style.name}}</span>
			</md-card-header-text>
		</md-card-header>
	</md-card>

	<md-card>
		<md-card-content layout="column" flex>
			<md-input-container class="md-input-has-value">
				<label>신청자 구분</label>
				<md-radio-group ng-model="quote.applicant.type" layout="row" layout-align="start center" ng-required="true">
					<md-radio-button class="md-primary" value="Individual" flex>개인</md-radio-button>
					<md-radio-button class="md-primary" value="Incorporation" flex>법인</md-radio-button>
				</md-radio-group>
			</md-input-container>
			<md-input-container>
				<label>이름 / 회사명</label>
				<input type="text" ng-model="quote.applicant.name">
			</md-input-container>
			<md-input-container>
				<label>연락처</label>
				<input type="text" ng-model="quote.applicant.phone">
			</md-input-container>
			<md-input-container>
				<label>이메일</label>
				<input type="email" ng-model="quote.applicant.email">
			</md-input-container>
			<md-input-container>
				<label>상품 구분</label>
				<md-select ng-model="quote.financialProduct">
					<md-option value="Lease">리스</md-option>
					<md-option value="Rental">장기 렌트</md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block">
				<label>신청 내용 (보증금(%), 이용 개월)</label>
				<textarea ng-model="quote.notes" rows="5" md-select-on-focus></textarea>
			</md-input-container>
			<!-- <md-checkbox ng-model="quote.agree"><a href="#/privacy">개인정보 보호 정책</a> 동의</md-checkbox> -->
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<!-- <span><a href="#/privacy">개인정보 보호 정책</a>에 동의</span> -->
			<md-button class="md-primary" ng-click="request(quote)">신청하기</md-button>
		</md-card-actions>
	</md-card>
</div>