<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" ng-show="loaded">
	<md-list>
		<md-card class="autonlease-card-item" ng-repeat="style in styles">
			<md-list-item class="md-3-line" ng-click="goRequest(style.$id)">
				<img src="images/makes/{{makeId}}.png" alt="{{makeId}}" class="md-avatar">
				<div class="md-list-item-text">
					<h3>{{style.model.name | translate}}</h3>
					<h4>{{style.name}}</h4>
					<p>{{style.pricing.list | currency:'₩':0}}</p>
				</div>
			</md-list-item>
		</md-card>
	</md-list>
</div>