<!doctype html>
<html ng-app="autonlease.newchanet.admin">
  <head>
    <meta charset="utf-8">
    <title>Autonlease</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body layout="row" ng-controller="LookupCtrl as lookup" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <md-sidenav class="md-whiteframe-z1 autonlease-sidenav md-sidenav-left" layout="column"
      md-component-id="sidenav" md-is-locked-open="$mdMedia('min-width: 1460px')"
      tabindex="-1">
      <md-content class="autonlease-sidenav-content" layout="column" flex>
        <md-toolbar class="autonlease-sidenav-toolbar">
          <div class="md-toolbar-tools autonlease-sidenav-title">
            <h2>Autonlease</h2>
          </div>
        </md-toolbar>
        <div class="autonlease-sidenav-divider"></div>
        <a ng-href="#/quotes" class="autonlease-sidenav-item" ng-class="{'autonlease-sidenav-item-selected': lookup.isSelected('/quotes')}" ng-click="lookup.goTo('quotes')">Quotes</a>

        <!-- <a ng-href="#/pricing/makes" class="autonlease-sidenav-item" ng-class="{'autonlease-sidenav-item-selected': lookup.isSelected('/pricing/makes')}" ng-click="lookup.goTo('pricing/makes')">Pricing</a> -->

        <a ng-href="#/makes" class="autonlease-sidenav-item" ng-class="{'autonlease-sidenav-item-selected': lookup.isSelected('/makes')}" ng-click="lookup.goTo('makes')">Vehicles</a>
        <a ng-href="#/promos" class="autonlease-sidenav-item" ng-class="{'autonlease-sidenav-item-selected': lookup.isSelected('/promos')}" ng-click="lookup.goTo('promos')">Promotions</a>
      </md-content>
    </md-sidenav>

    <div flex layout="column">
      <!-- Normal toolbar -->
      <md-toolbar class="autonlease-normal-toolbar" scroll-shadow="main-content">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button autonlease-sidenav-btn locked-sidenav-hide" ng-click="lookup.toggleSidenav()" aria-label="Open menu">
            <md-tooltip>Menu</md-tooltip>
            <md-icon md-svg-icon="navigation:menu"></md-icon>
          </md-button>
          <h2 class="locked-sidenav-hide"><a href="#/home">Autonlease</a></h2>
          <div flex></div>
          <div class="autonlease-toolbar-right">
            <!-- <md-button class="md-icon-button" aria-label="Login">
              <md-icon md-svg-icon="action:account_circle"></md-icon>
            </md-button> -->
            <md-button class="md-icon-button" aria-label="Logout" ng-if="lookup.auth" ng-click="lookup.logout()">
              <md-tooltip>Logout</md-tooltip>
              <md-icon md-svg-icon="action:exit_to_app"></md-icon>
            </md-button>
          </div>
        </div>
      </md-toolbar>
      <md-content class="main-column" id="main-content" flex>
        <div flex ng-view></div>
      </md-content>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/theme.js"></script>
        <script src="scripts/icons.js"></script>
        <script src="scripts/translate.js"></script>
        <script src="scripts/controllers/lookup.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/quotes.js"></script>
        <script src="scripts/controllers/makes.js"></script>
        <script src="scripts/controllers/models.js"></script>
        <script src="scripts/controllers/styles.js"></script>
        <script src="scripts/controllers/pricing.js"></script>
        <script src="scripts/controllers/promos.js"></script>

        <script src="scripts/angularfire/config.js"></script>
        <script src="scripts/angularfire/ref.js"></script>
        <script src="scripts/angularfire/auth.js"></script>
        <!-- endbuild -->
</body>
</html>
