<div class="main-column-width">
	<md-card class="autonlease-info-card autonlease-info-desc" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="autonlease-card-inverticon" md-svg-icon="communication:chat"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">장기 렌트란?</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>고객이 희망하는 차량을 직접 구매하지 않고 필요한 기간(1~4년) 만큼 대여하는 차량 운용 방법으로, 렌트 회사가 정비, 수리, 사고 처리 및 보험 등 차량 관리를 해드립니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-money"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">저렴한 렌트료</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>초기 비용이 적고 대여료 전액 손비 처리가 가능하여 세금 부담이 경감됩니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="autonlease-card-icon" md-svg-icon="action:receipt"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">고정된 비용 지출</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>매월 일정액의 대여료만 납부하므로 회계 처리가 간편합니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-car"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">차량 관리</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>번거로운 구입 절차를 거치지 않고 차량 보유 및 유지 업무 또한 렌트 회사가 대신합니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-wrench"></md-icon>
			<!-- <md-icon class="fa autonlease-card-icon" md-font-icon="fa-line-chart"></md-icon> -->
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">사고 수리</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>보험 사고 발생시 생기는 복잡한 일처리 일체를 렌트 회사가 대신하며 보험 요율 상승 부담이 없습니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-sort-amount-desc"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">기회 비용 감소</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>차량 운행 불가시 즉각적인 대차 사용이 가능하며 정부의 각종 차량 규제로부터 자유롭습니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-exclamation-triangle"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">중고 가격 위험 회피</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>중고차를 직접 매매하는 데 따르는 부담이 없고 차량 사고 등으로 인한 추가 감가 부담이 없습니다.</p>
			</md-card-content>
		</div>
	</md-card>
</div>