<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width">
	<md-list>
		<md-card ng-if="make.isDomestic" ng-repeat="make in makes">
			<md-list-item ng-click="goRentalPricing(make.niceName)">
				<img src="images/makes/{{make.niceName}}.png" alt="{{make.niceName}}" class="md-avatar">
				<p>{{make.name | translate}}</p>
			</md-list-item>
		</md-card>
	</md-list>

	<md-list>
		<md-card ng-if="!make.isDomestic" ng-repeat="make in makes">
			<md-list-item ng-click="goRentalPricing(make.niceName)">
				<img src="images/makes/{{make.niceName}}.png" alt="" class="md-avatar">
				<p>{{make.name}}</p>
			</md-list-item>
		</md-card>
	</md-list>
</div>