<md-dialog aria-label="Add" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>차량 표준 요금 추가</h2>
			<div flex></div>
			<md-button class="md-icon-button" ng-click="close()" aria-label="Close">
				<md-icon md-svg-icon="navigation:close"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content autonlease-dialog-content" layout="column">
			<div layout="row">
				<md-select placeholder="제조사" ng-model="model.make" md-on-open="loadMakes()" flex>
					<md-option ng-value="make" ng-repeat="make in makes">{{make.name | translate}}</md-option>
				</md-select>
				<md-select placeholder="모델" ng-model="model.model" md-on-open="loadModels()" flex>
					<md-option ng-value="model" ng-repeat="model in models">{{model.name | translate}}</md-option>
				</md-select>
				<md-select placeholder="트림" ng-model="model.trim" md-on-open="loadStyles()" flex>
					<md-option ng-value="style.trim" ng-repeat="style in styles">{{style.trim}}</md-option>
				</md-select>
			</div>

			<div layout="row">
				<md-input-container flex>
					<label>차량 판매가</label>
					<input type="number" ng-model="model.list">
				</md-input-container>
				<md-input-container flex>
					<label>리스료 (48개월)</label>
					<input type="number" ng-model="model.lease">
				</md-input-container>
				<md-input-container flex>
					<label>장기 렌트료 (48개월)</label>
					<input type="number" ng-model="model.rental">
				</md-input-container>
			</div>
	
			<md-input-container>
				<label>제조사 홈페이지</label>
				<input type="text" ng-model="model.url">
			</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-primary" ng-click="add()">Add</md-button>
	</md-dialog-actions>
</md-dialog>