<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width">
	<md-card ng-show="loaded">
		<md-card-header>
			<md-card-avatar>
				<img src="images/makes/{{model.make.niceName}}.png" alt="{{model.make.niceName}}">
			</md-card-avatar>
			<md-card-header-text>
				<span class="md-title">{{model.model.name}}</span>
				<span class="md-subhead">{{model.trim}}</span>
			</md-card-header-text>
		</md-card-header>
		<md-divider></md-divider>
		<md-card-content layout="column">
			<md-input-container>
				<label>차량 판매가</label>
				<input type="text" ng-model="model.list">
			</md-input-container>
			<md-input-container>
				<label>리스료 (48개월)</label>
				<input type="text" ng-model="model.lease">
			</md-input-container>
			<md-input-container>
				<label>장기 렌트료 (48개월)</label>
				<input type="text" ng-model="model.rental">
			</md-input-container>
			<md-input-container>
				<label>제조사 홈페이지</label>
				<input type="text" ng-model="model.url">
			</md-input-container>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="cancel()">취소</md-button>
			<md-button ng-click="remove()">삭제</md-button>
			<md-button class="md-primary" ng-click="edit()">수정</md-button>
		</md-card-actions>
	</md-card>
</div>