<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<md-button class="md-fab md-fab-top-right" ng-click="showDialog($event)" aria-label="Add">
	<md-icon md-svg-icon="content:add"></md-icon>
</md-button>
<div class="main-column-width">
	<md-list>
		<md-card ng-if="model.lease > 0" ng-click="goModel(model.$id)" ng-repeat="model in models">
			<md-list-item class="md-3-line">
				<img class="md-avatar" src="images/makes/{{model.make.niceName}}.png" alt="{{model.make.niceName}}">
				<div class="md-list-item-text">
					<h3>{{model.model.name | translate}}</h3>
					<h4>{{model.trim | translate}}&nbsp</h4>
					<p>{{model.url}}</p>
				</div>
				<div layout-align="end center">
					<p>{{model.lease | currency:'₩':0}}</p>	
					<p>{{model.rental | currency:'₩':0}}</p>
				</div>
			</md-list-item>
		</md-card>
	</md-list>
</div>
