<div class="autonlease-page-header">
  <div class="autonlease-page-header-width">
    <h2 layout-padding>1661-4882</h2>
    <p class="autonlease-page-description" layout-padding>전문 상담원이 자동차 금융과 관련한 상담을 도와드립니다.</p>
  </div>
</div>

<div class="main-column-width">
	<md-card>
		<md-card-content layout="column" flex>
			<md-input-container class="md-input-has-value">
				<label>신청자 구분</label>
				<md-radio-group ng-model="quote.applicant.type" layout="row" layout-align="start center">
					<md-radio-button class="md-primary" value="person" flex>개인</md-radio-button>
					<md-radio-button class="md-primary" value="incorporation" flex>법인</md-radio-button>
				</md-radio-group>
			</md-input-container>
			<md-input-container>
				<label>이름 / 회사명</label>
				<input type="text" ng-model="quote.applicant.name" ng-required="true">
			</md-input-container>
			<md-input-container>
				<label>연락처</label>
				<input type="text" ng-model="quote.applicant.phone" ng-required="true">
			</md-input-container>
			<md-input-container>
				<label>이메일</label>
				<input type="email" ng-model="quote.applicant.email" ng-required="true">
			</md-input-container>
			<md-input-container>
				<label>상품 구분</label>
				<md-select ng-model="quote.financialProduct" ng-required="true">
					<md-option>리스</md-option>
					<md-option>장기 렌트</md-option>
				</md-select>
			</md-input-container>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-primary" ng-click="request(quote)">신청하기</md-button>
		</md-card-actions>
	</md-card>
</div>