<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" layout="column" ng-show="loaded">
	<md-button class="md-raised autonlease-raised" ng-click="goModelEditor('add')">Add</md-button>
	<md-list>
		<md-card ng-repeat="model in models">
			<md-list-item ng-click="goStyles(model.$id)">
				<img src="images/makes/{{makeId}}.png" alt="{{makeId}}" class="md-avatar">
				<p>{{model.name | translate}}</p>
				<md-icon class="md-secondary" md-svg-icon="editor:mode_edit" ng-click="goModelEditor(model.$id)" aria-label="Edit"></md-icon>
			</md-list-item>
		</md-card>
	</md-list>
</div>