<div class="main-column-width">
	<md-card class="autonlease-info-card autonlease-info-desc" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="autonlease-card-inverticon" md-svg-icon="communication:chat"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">자동차 리스란?</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>고객이 희망하는 차량을 리스 회사가 대신 구입하여 고객에게 일정 기간 사용권을 부여하고 고객은 그 대가로 정해진 리스료를 지불하는 자동차 금융 상품입니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-calculator"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">세법상 절세 효과</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>법인 및 개인 사업자 모두 리스료 전액을 손비처리 가능하여 절세 효과가 뛰어납니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-thumbs-o-up"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">소유와 동일한 만족감</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>영업용 번호판(허)이 아닌 일반 승용 번호로 품위를 지켜드립니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-sort-amount-desc"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">초기 비용의 최소화</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>고객이 차량 가격 및 등록세, 취득세, 보험료 등을 분할 납부 가능하므로 초기 자금 부담이 적습니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-line-chart"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">보험 혜택의 최대화</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>개인 보험요율을 적용하여 보험 경력을 유지할 수 있습니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-wrench"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">차량 관리 부담 최소화</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>신규 등록, 각종 조세공과, 보험 등 차량 관리를 대행하여 고객의 금전적, 시간적 비용을 절감할 수 있습니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-car"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">신차 교체의 용이성</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>리스기간 종료시 반납, 매입, 재리스 등을 선택할 수 있습니다. 차량 반납시 중고차 처리에 대한 부담이 해소됩니다.</p>
			</md-card-content>
		</div>
	</md-card>
	<md-card class="autonlease-info-card" layout="row" layout-align="start center">
		<div class="autonlease-card-icon-wrapper">
			<md-icon class="fa autonlease-card-icon" md-font-icon="fa-money"></md-icon>
		</div>
		<div layout="column" flex>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline md-primary">저렴한 비용 구조</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>지불 대상 금액인 차량 가격에 잔존가액을 남겨두므로 월 지불 비용이 매우 저렴합니다.</p>
			</md-card-content>
		</div>
	</md-card>
</div>