<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width">
	<md-card class="autonlease-info-card autonlease-info-tip-primary">
    <md-card-content>
      <div class="autonlease-info-tip-card" layout="row" layout-align="start center">
        <md-icon class="autonlease-card-icon" md-svg-icon="action:announcement"></md-icon>
        <div flex>
          <h2 class="autonlease-card-header">표준 리스료</h2>
          아래 리스료는 보증금 20%, 48개월 기준 월 납부 금액입니다.
        </div>
      </div>
    </md-card-content>
  </md-card>

	<md-list>
		<md-card ng-if="model.lease > 0" ng-click="open(model.url)" ng-repeat="model in models">
			<md-list-item class="md-2-line">
				<img class="md-avatar" src="images/makes/{{model.make.niceName}}.png" alt="{{model.make.niceName}}">
				<div class="md-list-item-text">
					<h3>{{model.model.name | translate}}</h3>
					<p>{{model.trim | translate}}&nbsp</p>
				</div>
				<div layout-align="end center">
					<p >{{model.lease | currency:'₩':0}}</p>	
				</div>
			</md-list-item>
		</md-card>
	</md-list>
</div>
