<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" ng-show="loaded">
	<md-card>
		<md-card-content layout="column">
			<md-input-container>
				<label>Make</label>
				<input type="text" ng-model="make.name">
			</md-input-container>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="cancel()" aria-label="Cancel">Cancel</md-button>
			<md-button class="md-primary" ng-click="add()" aria-label="Add">Add</md-button>
		</md-card-actions>
	</md-card>
</div>