<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" layout="column" ng-show="loaded">
	<md-button class="md-raised autonlease-raised" ng-click="goMakeEditor('add')">Add</md-button>
	<md-list>
		<md-card ng-if="make.isDomestic" ng-repeat="make in makes">
			<md-list-item ng-click="goModels(make.$id)">
				<img src="images/makes/{{make.niceName}}.png" alt="{{make.niceName}}" class="md-avatar">
				<p>{{make.name | translate}}</p>
				<md-icon class="md-secondary" md-svg-icon="editor:mode_edit" ng-click="goMakeEditor(make.$id)" aria-label="Edit"></md-icon>
			</md-list-item>
		</md-card>
	</md-list>

	<md-list>
		<md-card ng-if="!make.isDomestic" ng-repeat="make in makes">
			<md-list-item ng-click="goModels(make.$id)">
				<img src="images/makes/{{make.niceName}}.png" alt="{{make.niceName}}" class="md-avatar">
				<p>{{make.name}}</p>
				<md-icon class="md-secondary" md-svg-icon="editor:mode_edit" ng-click="goMakeEditor(make.$id)" aria-label="Edit"></md-icon>
			</md-list-item>
		</md-card>
	</md-list>
</div>