<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="main-column-width" layout="column" ng-show="loaded">
	<md-button class="md-raised autonlease-raised" ng-click="goPromoEditor('add')">Add</md-button>
	<md-list>
		<md-card ng-repeat="promo in promos" ng-click="goPromoEditor(promo.$id)" >
			<md-list-item class="md-2-line">
				<img src="images/makes/{{promo.$id}}.png" alt="{{promo.$id}}" class="md-avatar">
				<div class="md-list-item-text">
					<h3>{{promo.name | translate}}</h3>
					<p>{{promo.url}}</p>
				</div>
				<md-icon md-svg-icon="editor:mode_edit" aria-label="Edit"></md-icon>
			</md-list-item>
		</md-card>
	</md-list>
</div>