// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Hide when Angular is not yet loaded and initialized
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-headline.md-primary {
  color: #009688;
}

// sidenav
@media (min-width: 1460px) {
  .autonlease-sidenav {
    box-shadow: none;
    border-right: 1px solid #e5e5e5;
  }
}
.autonlease-sidenav-content {
  min-height: 475px;
}
md-toolbar.autonlease-sidenav-toolbar {
  background: #fff;
}
.autonlease-sidenav-title {
  padding: 8px 16px 0;
  opacity: 0.87;
  color: #000000;
}
@media (min-width: 600px) {
  .autonlease-sidenav-title {
    padding: 0 24px;
    padding-top: 2px;
  }
}
.autonlease-sidenav-divider {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 6px;
}
.autonlease-sidenav-item {
  line-height: 20px;
  display: block;
  padding: 14px 16px;
  font-size: 13px;
}
@media (min-width: 600px) {
  .autonlease-sidenav-item {
    padding: 16px 24px;
  }
}
a.autonlease-sidenav-item {
  color: #333;
  text-decoration: none;
}
a.autonlease-sidenav-item:hover {
  background: #eeeeee;
}
a.autonlease-sidenav-item-selected {
  color: #e91e63;
  font-weight: bold;
}
.autonlease-open-in-new-icon {
  float: right;
  opacity: 0.5;
  width: 18px;
  height: 18px;
}

// toolbar
md-toolbar div.md-toolbar-tools h2 {
  font-family: "Product Sans", "Roboto", sans-serif;
  float: left;
  margin: 2px 8px 0 12px;
}
.md-toolbar-tools>.autonlease-sidenav-btn {
  margin-right: 16px;
  margin-left: -4px;
}
@media (min-width: 1460px) {
  .locked-sidenav-hide {
    display: none;
  }
}
.locked-sidenav-hide a:hover {
  color: #18ffff;
}
.autonlease-toolbar-right {
  text-align: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -8px;
  margin-top: 2px;
}
.autonlease-toolbar-right .md-button:hover md-icon {
  color: #18ffff;
}
.md-toolbar-tools .md-button:hover md-icon {
  color: #18ffff;
}

// main column
md-content.main-column {
  color: #333;
  font-size: 16px;
  line-height: 22px;
  background: #fbfbfb;
}
.main-column-width {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
}

// card
.autonlease-primary-card {
  background: #e91e63;
  color: #ffffff;
}
.autonlease-primary-card md-icon {
  color: #ffffff;
}
.autonlease-accent-card {
  background: #18ffff;
  color: #000000;
}
md-card md-card-header:last-child md-card-avatar {
  margin-left: 0;
}
md-card md-list md-list-item:hover md-icon {
  color: #18ffff;
}

// list
md-list md-card:hover {
  background: #eeeeee;
  cursor: pointer;
}
md-list md-card:hover md-icon {
  color: #18ffff;
}
md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar {
  height: auto;
}
md-list-item > md-icon:first-child:not(.md-avatar-icon) {
  width: 40px;
  margin-right: 16px;
}

.autonlease-dialog-content {
  width: 750px;
}
.md-raised.autonlease-raised {
  background: #fff;
}