// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: #009688;
}

// Hide when Angular is not yet loaded and initialized
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-headline.md-primary {
  color: #009688;
}

// sidenav
@media (min-width: 1460px) {
  .autonlease-sidenav {
    box-shadow: none;
    border-right: 1px solid #e5e5e5;
  }
}
.autonlease-sidenav-content {
  min-height: 475px;
}
md-toolbar.autonlease-sidenav-toolbar {
  background: #fff;
}
.autonlease-sidenav-title {
  padding: 8px 16px 0;
  opacity: 0.87;
  color: #000000;
}
@media (min-width: 600px) {
  .autonlease-sidenav-title {
    padding: 0 24px;
    padding-top: 2px;
  }
}
.autonlease-sidenav-divider {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 6px;
}
.autonlease-sidenav-item {
  line-height: 20px;
  display: block;
  padding: 14px 16px;
  font-size: 13px;
}
@media (min-width: 600px) {
  .autonlease-sidenav-item {
    padding: 16px 24px;
  }
}
a.autonlease-sidenav-item {
  color: #333;
  text-decoration: none;
}
a.autonlease-sidenav-item:hover {
  background: #eeeeee;
}
a.autonlease-sidenav-item-selected {
  color: #009688;
  font-weight: bold;
}
.autonlease-open-in-new-icon {
  float: right;
  opacity: 0.5;
  width: 18px;
  height: 18px;
}

// toolbar
// @font-face {
//   font-family: "NanumSquare";
//   src: url("NanumSquareOTFR.otf") format("opentype");
// }
md-toolbar div.md-toolbar-tools h2 {
  font-family: "Product Sans", "Roboto", sans-serif;
  float: left;
  margin: 2px 8px 0 12px;
}
.md-toolbar-tools>.autonlease-sidenav-btn {
  margin-right: 16px;
  margin-left: -4px;
}
@media (min-width: 1460px) {
  .locked-sidenav-hide {
    display: none;
  }
}
.autonlease-toolbar-right {
  text-align: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -8px;
  margin-top: 2px;
}

// page header
.autonlease-page-header {
  background: #009688;
  color: #fff;
  padding-top: 1px;
  font-size: 18px;
  overflow-x: hidden;
}
@media (max-width: 599px) {
  .autonlease-page-header {
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.autonlease-page-header-width {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.autonlease-page-header h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 0;
}
@media (max-width: 599px) {
  .autonlease-page-header h2 {
    font-size: 24px;
    margin-top: 8px;
  }
}
.autonlease-page-description {
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
}
@media (max-width: 599px) {
  .autonlease-page-description {
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 8px;
  }
}

// main column
md-content.main-column {
  color: #333;
  font-size: 16px;
  line-height: 22px;
  background: #fbfbfb;
}
.main-column-width {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
}

// info card
.autonlease-info-card {
  color: #777;
  font-size: 14px;
  line-height: 20px;
}
.autonlease-info-tip-accent {
  margin-top: 16px;
  border-left: solid #ffd740 4px;
  border-radius: 2px;
}
.autonlease-info-tip-primary {
  margin-top: 16px;
  border-left: solid #009688 4px;
  border-radius: 2px; 
}
.autonlease-info-desc {
  background: #009688;
  color: #ffffff;
}
@media (max-width: 599px) {
  .autonlease-info-tip-card {
    align-items: initial;
    -webkit-align-items: initial;
  }
}
.autonlease-card-icon-wrapper {
  margin-left: 8px;
  // margin-right: 8px;
}
.autonlease-card-icon {
  // margin: 2px 12px 2px 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 12px;
  color: #009688;
}
.autonlease-card-inverticon {
  // margin: 2px 12px 2px 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  font-size: 24px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 12px;
  color: #fff;
}
.autonlease-card-circle-icon {
  box-sizing: border-box;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #ffd740;
  padding: 8px;
  margin-left: 8px;
  margin-right: 12px;
  color: #ffffff;
}
.autonlease-info-phone .autonlease-card-circle-icon {
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (max-width: 599px) {
  .autonlease-card-icon,
  .autonlease-info-phone .autonlease-card-circle-icon {
    margin-left: 8px;
    margin-top: 0;
  }
}
.autonlease-info-card h2 {
  color: #333;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.autonlease-card-header {
  padding-bottom: 4px;
}
.autonlease-info-action {
  margin-left: 54px;
  margin-bottom: -8px;
}
.autonlease-card-input {
  margin: 0 0 0 58px;
}
.autonlease-card-input-top {
  margin-top: 18px;
}
.autonlease-card-description {
  padding-right: 16px;
}

.autonlease-required-docs-card md-card-header md-card-avatar md-icon {
  background: #009688;
}
.autonlease-required-docs-card md-card-content p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}
.autonlease-required-docs-card md-list {
  font-size: 14px;
}

md-radio-group {
  padding-top: 2px;
}

md-grid-list md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px;
}
md-grid-list md-grid-tile md-grid-tile-footer figcaption {
  width: 100%;
}
md-grid-list md-grid-tile md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  text-align: center;
  // font-family: 'Product Sans', 'Roboto', sans-serif;
  // color: #009688;
}
md-list-item:hover {
  background: #eeeeee;
  cursor: pointer;
}
md-list-item .md-button {
  margin: 0;
}
md-list-item:hover md-icon {
  color: #009688;
}
md-list-item .md-avatar {
  width: 40px;
  height: auto !important;
}
.autonlease-card-item md-icon:hover {
  color: #009688;
}
md-icon.autonlease-applicant-type-icon {
  color: #009688;
}
.autonlease-card-action-button {
  // background: rgba(158,158,158,0.1);
  color: #009688;
  // color: rgba(0,0,0,0.87);
}
.autonlease-card-action-button-accent {
  color: #ff8f00;
}
.autonlease-copyright {
  font-size: 14px;
  color: #009688;
}